body {
  background-color: rgb(36, 39, 39);
}

h1 {
  color: aqua;
  color: #000000;
  color: #0000ff;
  color: #0000ff;
  color: #00ff00;
  color: #ff00ff;
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 0, 0.3);
}

/* flat ui color */
