<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Welcome to Home Page</h1>
    <h3><%= 5*5 %></h3>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde earum hic,
      dicta aliquid eveniet nam asperiores eaque incidunt fuga eligendi
      provident rerum, quibusdam libero laudantium laborum nulla porro minima.
      Veritatis incidunt sequi tenetur molestias assumenda esse ea magni tempore
      quae ipsum, beatae consectetur, minus fugit quos dolores? Ratione, quae
      qui.
    </p>
    <button>
      <a href="/logout">Logout</a>
    </button>
  </body>
</html>
