h1,
p,
span,
a {
  background-color: tomato;
}

h1 {
  display: inline-block;
}

span {
  display: block;
}

h3 {
  display: none;
}

a.btn {
  background-color: violet;
  color: #fff;
  padding: 10px 25px;
  display: inline-block;
}
