.div {
  background: #2d3436;
  color: cadetblue;
  padding: 20px 5%;
  width: 90%;
}
img {
  float: bottom;
}

#nav {
  margin: 0 0 15px;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background: #192a56;
}

#nav li {
  float: left;
}

#nav li a {
  display: inline-block;
  padding: 12px 15px;
  color: aliceblue;
  text-decoration: none;
}

#nav li a:hover {
  background: #2d3436;
  color: cadetblue;
}

#display {
  background: #44bd32;
  margin: 0 0 15px;
  padding: 0;
  list-style: none;
}

#display li {
  display: inline-block;
}

#display li a {
  display: inline-block;
  padding: 12px 15px;
  color: aliceblue;
  text-decoration: none;
}

#display li a:hover {
  background: #2d3436;
  color: cadetblue;
}
